.container {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    margin-bottom: 1.25em;
    color: var(--dark-grey);
  }

  label {
    color: var(--grey);
  }

  input {
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    outline: none;
    padding-bottom: 0.5em;
    margin-bottom: 3em;
  }
}
