.btn-container {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
}

.btn {
  font-size: 1.25rem;
  margin: 0 1.5em;
  border: none;
  border-radius: 5px;
  padding: 1em 1.5em;

  & + & {
    margin-top: 1.5em;
  }

  &--solid {
    background-color: var(--green);
    color: var(--white);
  }

  &--outline {
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
  }
}
