@import "styles/mixins";

.container {
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    @include mq(lg) {
      margin-bottom: 0.6em;

      button {
        margin-top: 0.5em;
      }
    }
  }

  button {
    margin-left: 0;
    margin-right: 0;
  }

  @include mq(md) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.banner {
  overflow: hidden;
  height: 18.5em;
  border-bottom-right-radius: 10em;

  @include mq(md) {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }

  @include mq(lg) {
    left: 40%;
  }

  & > div:first-child {
    z-index: 1;
    position: absolute !important;
    top: 3.5em;
    left: 1.75em;

    @include mq(md) {
      top: 3em;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq(lg) {
      display: none !important;
    }
  }

  & > div:last-child {
    z-index: -1;
    position: relative;

    @include mq(md) {
      position: absolute;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: var(--white);
      opacity: 0.25;

      @include mq(md) {
        opacity: 0.5;
      }

      @include mq(lg) {
        opacity: 1;
        background-color: transparent;
        background-image: linear-gradient(
          to right,
          var(--white) 10%,
          transparent
        );
      }
    }

    img {
      top: -5em !important;

      @include mq(md) {
        top: 0 !important;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }
    }
  }

  &__header {
    &,
    &-1,
    &-2 {
      position: absolute;
      margin-left: 1em;
      top: 4.5em;
      z-index: 1;
    }

    &-2 {
      display: none;
    }

    @include mq(md) {
      &,
      &-1,
      &-2 {
        margin: 0;
        top: 3.5em;
        left: 50%;
        transform: translateX(-50%);
      }

      &-1 {
        display: none;
      }

      &-2 {
        display: block;
      }
    }

    @include mq(lg) {
      &,
      &-1,
      &-2 {
        display: none;
      }
    }
  }
}

.content {
  padding: 0 2em;

  @include mq(md) {
    padding: 2em 3em;
    background-color: var(--white);
    width: 30em;
    border-radius: 10px;
    box-shadow: 0 0 10em -3em var(--black);
  }

  @include mq(lg) {
    position: relative;
    height: 22em;
    width: 42em;
    padding: 1em 3em;
    padding-left: 21em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    display: none;
    font-size: 1.1rem;

    @include mq(lg) {
      display: block;
    }
  }

  &__background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;

    @include mq(lg) {
      display: block;
    }

    & > div:first-child {
      position: relative;
      height: 100%;
      width: 100%;

      img {
        left: -10em !important;
        object-fit: cover !important;
      }
    }

    & div:last-child {
      position: absolute !important;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
      display: flex !important;

      img {
        min-width: 0 !important;
        max-width: none !important;
        width: 13em !important;
      }
    }

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: var(--white);
      opacity: 0.75;
    }
  }

  & div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grey);

    @include mq(lg) {
      font-size: 0.75rem;
    }
  }
}

.message {
  display: inline-block;
  color: var(--dark-grey);
  margin: 1em 0 2.5em;

  @include mq(lg) {
    font-size: 0.9rem;
    margin: 0.25em 0 1.15em;
  }
}
