@import "styles/mixins";

.container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(var(--white) 50%, transparent);
  display: flex;
  flex-direction: column;
  z-index: 0;
  padding-top: 2em;

  &__content {
    margin-top: 11em;

    @include mq(md) {
      margin-top: 0;
      padding: 0 8em;
    }
  }

  & div:first-child {
    z-index: 1;

    img {
      width: 15em;
    }

    @include mq(md) {
      img {
        width: 10em;
      }
    }
  }

  & div:last-child {
    z-index: -1;
    margin-top: auto !important;
  }
}

.btns {
  z-index: 1;

  @include mq(md) {
    margin-top: 0;
  }
}

.heading,
.sub-heading {
  display: none;
  text-align: center;
  line-height: 1.25em;

  @include mq(md) {
    display: block;
  }
}

.heading {
  margin: 3em 0 1.5em;
}

.sub-heading {
  color: var(--grey);
  padding: 0 4em;
  margin-bottom: 4em;
}
